<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="z_arm_2442c0">
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.6178 0.59958 0.70792"
        rpy="0 0 0" />
      <mass
        value="951.87" />
      <inertia
        ixx="137.78"
        ixy="0.0044402"
        ixz="-10.933"
        iyy="119.15"
        iyz="-0.00067217"
        izz="158.71" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/base_link.STL" />
      </geometry>
<material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="door_link">
    <inertial>
      <origin
        xyz="0.32048066892287 2.3834458054398E-10 0.562398088143635"
        rpy="0 0 0" />
      <mass
        value="181.651646287815" />
      <inertia
        ixx="48.7702456064344"
        ixy="-1.59733671105852E-10"
        ixz="-10.9325544807547"
        iyy="25.5516862461827"
        iyz="1.39131607597233E-11"
        izz="36.1437519623492" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/door_link.STL" />
      </geometry>
<material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/door_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="door_joint"
    type="revolute">
    <origin
      xyz="-1.2401 0.6 1.0971"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="door_link" />
    <axis
      xyz="0 -1 0" />
  <limit lower="-1" upper="0.268" effort="10.0" velocity="2.5" />
  </joint>
  <link
    name="base_lift_link">
    <inertial>
      <origin
        xyz="-0.0138235267428053 -0.000617643429039805 0.256337391094087"
        rpy="0 0 0" />
      <mass
        value="2.24198664042392" />
      <inertia
        ixx="0.0506641832977411"
        ixy="7.09367963595699E-05"
        ixz="-0.000147564343759707"
        iyy="0.0494711018646685"
        iyz="-0.000578573299400282"
        izz="0.0102402545016511" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/base_lift_link.STL" />
      </geometry>
<material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/base_lift_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_joint"
    type="fixed">
    <origin
      xyz="-0.97852 0.59917 0.42459"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_lift_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lift_link">
    <inertial>
      <origin
        xyz="-0.0394813607628044 -0.000736121252994326 -0.0372265212000362"
        rpy="0 0 0" />
      <mass
        value="0.993724555380008" />
      <inertia
        ixx="0.000951122396615806"
        ixy="-5.13373343735685E-05"
        ixz="7.33288284051898E-05"
        iyy="0.00342810823599992"
        iyz="-1.00008205904848E-06"
        izz="0.00392520888178525" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/lift_link.STL" />
      </geometry>
<material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/lift_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lift_joint"
    type="prismatic">
    <origin
      xyz="0.1207 0.0018675 0.5009"
      rpy="0 0 0" />
    <parent
      link="base_lift_link" />
    <child
      link="lift_link" />
    <axis
      xyz="0 0 -1" />
    <limit lower="-0.068" upper="0.268" effort="10.0" velocity="2.5" />
  </joint>
  <link
    name="revolute_1_link">
    <inertial>
      <origin
        xyz="0.0606601004684422 -0.0932567161478479 -0.0341257142535358"
        rpy="0 0 0" />
      <mass
        value="2.3889549988802" />
      <inertia
        ixx="0.014531129631885"
        ixy="0.00746693434928961"
        ixz="5.15406751826989E-05"
        iyy="0.00789336402236104"
        iyz="-7.92546580618748E-05"
        izz="0.0205254159011504" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/revolute_1_link.STL" />
      </geometry>
<material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/revolute_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="revolute_1_joint"
    type="revolute">
    <origin
      xyz="0.012024 0.00017897 -0.066"
      rpy="0 0 0" />
    <parent
      link="lift_link" />
    <child
      link="revolute_1_link" />
    <axis
      xyz="0 0 1" />
    <limit lower="-0.550" upper="2.59" effort="10.0" velocity="2.5" />
  </joint>
  <link
    name="revolute_2_link">
    <inertial>
      <origin
        xyz="0.0510174015179587 0.0862834154944128 0.0203041362505351"
        rpy="0 0 0" />
      <mass
        value="1.2295144495631" />
      <inertia
        ixx="0.00630447000979999"
        ixy="-0.00305064142878226"
        ixz="-3.98688476250461E-06"
        iyy="0.00294255711521701"
        iyz="-5.99941190124979E-06"
        izz="0.00890314242165485" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/revolute_2_link.STL" />
      </geometry>
<material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/revolute_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="revolute_2_joint"
    type="revolute">
    <origin
      xyz="0.11991 -0.18445 -0.118"
      rpy="0 0 0" />
    <parent
      link="revolute_1_link" />
    <child
      link="revolute_2_link" />
    <axis
      xyz="0 0 -1" />
  <limit lower="-1.056" upper="4.678" effort="10.0" velocity="2.5" />
  </joint>
  <link
    name="revolute_3_link">
    <inertial>
      <origin
        xyz="0.000243780027589846 0.000259647437434044 0.000662357342637421"
        rpy="0 0 0" />
      <mass
        value="0.0445549065520843" />
      <inertia
        ixx="1.84658724230793E-05"
        ixy="1.16123299150103E-07"
        ixz="4.11478557324253E-08"
        iyy="1.85936893619463E-05"
        iyz="6.961350801403E-08"
        izz="3.2800424734752E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/revolute_3_link.STL" />
      </geometry>
<material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://z_arm_2442c0_model/meshes/revolute_3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="revolute_3_joint"
    type="continuous">
    <origin
      xyz="0.1017 0.17221 -0.006"
      rpy="0 0 0" />
    <parent
      link="revolute_2_link" />
    <child
      link="revolute_3_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="camera_base_link">
    <inertial>
      <origin
        xyz="0.0922913938829012 0.0114660884169011 0.00693916748687329"
        rpy="0 0 0" />
      <mass
        value="0.0887364768113745" />
      <inertia
        ixx="0.000130797104660911"
        ixy="-5.49600615756757E-05"
        ixz="-1.85094688819852E-11"
        iyy="0.00044572419290674"
        iyz="2.36802675635875E-11"
        izz="0.00057504774975987" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://z_arm_2442c0_model/meshes/camera_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://z_arm_2442c0_model/meshes/camera_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_base_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.008"
      rpy="0 0 0" />
    <parent
      link="revolute_3_link" />
    <child
      link="camera_base_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.0"
      upper="0.95"
      effort="10.0"
      velocity="2.5" />
  </joint>
  <link
    name="camera_1_link">
    <inertial>
      <origin
        xyz="-0.000808151669486779 -0.000139609392250321 0.0824543071056295"
        rpy="0 0 0" />
      <mass
        value="0.0230681085022875" />
      <inertia
        ixx="2.80040994804869E-06"
        ixy="-2.07534023385604E-09"
        ixz="9.93985293817649E-10"
        iyy="2.54526858239223E-06"
        iyz="-6.55537535190713E-10"
        izz="2.7332553709264E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://z_arm_2442c0_model/meshes/camera_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://z_arm_2442c0_model/meshes/camera_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_1_joint"
    type="fixed">
    <origin
      xyz="0.165237204034808 0.0562502802907883 -0.000935566922000475"
      rpy="0 0 0" />
    <parent
      link="camera_base_link" />
    <child
      link="camera_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_2_link">
    <inertial>
      <origin
        xyz="-0.000808145804082942 -0.000139613920616469 0.0824542928302506"
        rpy="0 0 0" />
      <mass
        value="0.0230680945898005" />
      <inertia
        ixx="2.80040889457412E-06"
        ixy="-2.0755480242859E-09"
        ixz="9.93767199037462E-10"
        iyy="2.54526787231235E-06"
        iyz="-6.55018537468534E-10"
        izz="2.73325477459555E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://z_arm_2442c0_model/meshes/camera_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://z_arm_2442c0_model/meshes/camera_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_2_joint"
    type="fixed">
    <origin
      xyz="0.120237204034816 0.0562502802907844 -0.000935566921999809"
      rpy="0 0 0" />
    <parent
      link="camera_base_link" />
    <child
      link="camera_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_3_link">
    <inertial>
      <origin
        xyz="-0.0495567895052987 7.88431819831459E-15 0.0425452233910272"
        rpy="0 0 0" />
      <mass
        value="0.685576189865808" />
      <inertia
        ixx="0.000311238374187138"
        ixy="-5.09696125132606E-17"
        ixz="-7.26764915695594E-07"
        iyy="0.0013178305237229"
        iyz="4.00734546737278E-18"
        izz="0.00142060285149843" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://z_arm_2442c0_model/meshes/camera_3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://z_arm_2442c0_model/meshes/camera_3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_3_joint"
    type="fixed">
    <origin
      xyz="0.192281181548174 -0.00103564174221389 -0.00957826012299989"
      rpy="0 0 0" />
    <parent
      link="camera_base_link" />
    <child
      link="camera_3_link" />
    <axis
      xyz="0 0 0" />
  </joint>
    <!-- 在机械臂末端添加摄像头 -->
  <link name="calib_camera_link">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    
    <collision>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>
    
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="calib_camera_joint" type="fixed">
    <parent link="camera_base_link"/>  <!-- 替换为您的末端连杆 -->
    <child link="calib_camera_link"/>
    <origin xyz="0.237 0 0.01" rpy="0 0 0"/>  <!-- 摄像头位置偏移 -->
  </joint>

  <!-- Gazebo摄像头插件 -->
  <gazebo reference="calib_camera_link">
    <sensor type="camera" name="calib_camera_sensor">
      <update_rate>30.0</update_rate>
      <camera name="calib_camera">
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>10.0</far>
        </clip>
      </camera>
      <plugin name="calib_camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>virtual_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
      </plugin>
    </sensor>
  </gazebo>
</robot>